* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

.fs-10 {
  font-size: 12px;
}

p {
  margin: 0px !important;
}

.bg-purple {
  background-color: #7b68ee;
}

.fs-16 {
  font-size: 15px;
}

.fw-900 {
  font-weight: 900;
}

.fs-70 {
  font-size: 70px;
}

.text-transparent {
  color: transparent;
}

.fs-60 {
  font-size: 60px;
}

.hero-section p {
  font-size: 20px;
}

.hover:hover {
  transform: scaleY(0.9);
}

.fs-20 {
  font-size: 20px;
}

.noshadow:hover {
  box-shadow: none !important;
  text-shadow: none !important;
}

.transition5s {
  transition: all ease 0.5s;
}

#productContent {
  display: none;
}

.bg-attachment {
  background-clip: text !important;
}

.product-btn-content {
  top: 70px;
}

.text-web {
  color: #24223e;
}

.primary-hover:hover {
  color: #7b68ee !important;
}

.pt-100 {
  padding-top: 100px;
}

.hero-section h1 {
  background: linear-gradient(80deg,
      #45c4f9 14.49%,
      rgba(137, 32, 254, 0.81) 48.2%,
      #ff0be5 94.81%);
}

.hero-section .hero-btn {
  letter-spacing: 0.5px;
  background: linear-gradient(to right, #50a0fa, #722dfe, #c00af1);
}

.hero-section .fa-star {
  font-size: 14px;
}

.text-web2 {
  color: #3a27a9;
}

.mySwiper1 {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper1 .slider-svg {
  padding: 10px 10px;
  border-radius: 12px;
  width: fit-content;
  height: fit-content;
  background-color: #f7f7fc;
}

.mySwiper1 .swiper-slide-thumb-active {
  opacity: 1;
  background-color: #262341;
}

.parent-image-div {
  position: relative;
}

.bg-image {
  position: relative;
  z-index: -100;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.child-image {
  max-width: 600px;
  z-index: 100;
  margin-bottom: -100px;
  margin-right: -20px;
}

.section-2 .heading {
  width: fit-content;
  background: linear-gradient(to right,
      #3788fa,
      #4f56f0,
      #701ffa,
      #a512f2,
      #ca12eb);
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper3 .swiper-slide {
  /* width: 100%;
    height: 100%; */
  color: #b2add1;
}

.mySwiper3 .swiper-slide-thumb-active .accordion-heading {
  opacity: 1;
  background: linear-gradient(to right,
      #21b2fa,
      #4274fa,
      #5c42fa,
      #9812f4,
      #dd12e8) !important;
  background-clip: text !important;
  color: transparent !important;
}

.accordion-slider p {
  font-size: 18px;
}

.bg-slider1-img {
  background: linear-gradient(to right, #4a67fa, #9012f6, #e512e7);
}

.child-image-tabs {
  max-width: 300px;
  bottom: 20px;
  left: -50px;
}

.swiper-responsive-slide {
  background: linear-gradient(145deg, #f3598c, #d818e7);
}

.bg-gray-circle {
  background: linear-gradient(to bottom, #fafaff, white);
  border-radius: 100%;
}

.brands-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.Perfect-fit-heading {
  width: fit-content;
  background: linear-gradient(to right,
      #24223e 40%,
      #1b7c9f,
      #23b0fa,
      #3985fa,
      #5551fa,
      #ba12ee);
}

.nav-links-tabs {
  width: 184.5px;
  border: 1px solid rgb(202, 202, 202);
  font-size: 16px;
  padding: 44px 0 44px 0;
}

.nav-pills .nav-links-tabs.active {
  position: relative;
  background-color: transparent;
  border: none;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 10px 0 20px 0px #d90bec4b, -10px 0 20px 0 #5b78fb54;
}

.nav-pills .nav-links-tabs.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  border: 1px solid;
  border-image: linear-gradient(to right, #d90bec79, #5b78fb8e);
  border-image-slice: 1;
  z-index: -1;
}

.nav-pills .nav-links-tabs.active {
  color: black;
  text-align: center;
}

.w-110 {
  width: 110px;
}

.bg-light-gray {
  background-color: #f8f8fc;
}

.border-cards {
  border: 1px solid #ceceea;
}

.solution-btn {
  background: linear-gradient(to right, #606afc, #7c0cff, #d90aed);
}

.overflow-card-responsive {
  overflow-x: scroll;
}

.callout-background {
  background-image: url(animated-callout-bg.png);
  width: 100vw;
  max-width: 1875px;
  height: 1680px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.potential-section h1 {
  height: fit-content;
  background: linear-gradient(to bottom, white, white, #db97f5);
}

.potential-section .show-btn {
  background-color: #322570a1;
  opacity: 0.6;
}

.potential-section p {
  background: linear-gradient(to bottom, #e9a8f2, #795cac);
  opacity: 0.7;
}

.clickup-feeders h1 {
  background: linear-gradient(to right,
      #24223e 35%,
      #1c7192,
      #25abfa,
      #466ffa,
      #6a28fa,
      #c512ec);
  width: fit-content;
}

.finastra-div {
  background-image: url(finastra.png);
}

.team-clickup-card-attachments {
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.convene-div {
  background-image: url(convene.png);
  width: 100% !important;
}

.pressed-div {
  background-image: url(pressed.png);
}

.blur-box-feeders::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 500px;
  margin-left: -20px;
  height: 100%;
  background: linear-gradient(to right, #7a37e6dc 50%, #4c7be1de);
  border-top: 4px solid white;
  backdrop-filter: blur(7px);
  transform: rotate(5deg);
  z-index: -1;
}

.blur-box-feeders {
  width: 100%;
  height: 330px;
  transform: rotate(0deg);
}

.feeders-content a {
  background-color: rgba(255, 255, 255, 0.096);
}

.feeders-content a i {
  transform: rotate(30deg);
}

.clickup-team-slider {
  width: 400px !important;
}

.gradient-circle-bottom {
  border-radius: 0 0 50% 50%;
  background: linear-gradient(to bottom, white, #cfcfcf38);
}

.user-bages-img {
  max-width: 1100px;
}

.team-gradient {
  background-color: #24223e;
  background-position: -79px -53px;
  background-repeat: no-repeat;
  color: #24223e;
  -webkit-text-fill-color: transparent;
  background-image: url(everything-your-team-is-looking-for-desktop.svg);
}

.ai-powered-card {
  background: linear-gradient(170deg, #d906fc, #5037e7);
}

.view-work-card {
  background: linear-gradient(170deg, #4baefb, #6346ef);
}

.customize-div {
  background: linear-gradient(170deg, #6636ed, #4bb3fc);
}

.play-well-card {
  background: linear-gradient(351deg, #5037e7, #c40ef9);
}

.play-well-card img {
  width: 100%;
  max-width: 300px;
}

.or-img {
  top: 0;
  right: 65px;
  height: 100%;
  position: absolute;
}

.stay-ahead-div {
  background: linear-gradient(100deg, #eb3e9e, #ff674e);
}

.trusted-teams {
  background-color: #0c1947;
}

.trusted-teams a {
  background-color: rgba(255, 255, 255, 0.062);
  transition: all ease 0.3s;
}

.trusted-teams a:hover {
  background-color: rgba(255, 255, 255, 0.116);
}

.trusted-teams img {
  position: absolute;
  bottom: 0;
  right: -12px;
  width: 100%;
  height: 100%;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px
}

.footer-bg {
  width: 100%;
  position: absolute;
  z-index: -1;
  height: 100%;
  border-radius: 0 10px 10px 0;
  /* clip-path: polygon(0 7%, 100% 7%, 100% 100%, 0% 100%); */
  clip-path: polygon(0 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 100% 99%, 99% 100%, 100% 100%, 100% 100%, 0 100%);

  background: linear-gradient(50deg, #8230fe -5%, #52a3fa -2%, #db11ec, #ff41a4);
}

.footer-div .logo {
  margin-top: -30px;
  block-size: auto;
  margin-left: -25px;
}

.footer-btn {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
}

.text-decoration-hover:hover {
  text-decoration: underline !important;
}

.footer-div a {
  width: fit-content;
}

.footer-btn-apple img {
max-width: 120px;
}

.footer-play-store-btn img{
max-width: 120px;
}


@media screen and (max-width: 1200px) {
  .nav-group-btn {
    align-items: start !important;
  }

  .footer-div .logo {
    margin: 0 !important;
    position: absolute;
    bottom: -20px;
    right: -20px;

  }

  .brands-grid {
    overflow-x: scroll;
    grid-gap: 40px;
  }
}

@media screen and (max-width: 990px) {
  .bg-gray-circle {
    border-radius: 0% !important;
  }

  .gradient-heading-responsive {
    background: linear-gradient(80deg,
        #45c4f9 14.49%,
        rgba(137, 32, 254, 0.81) 48.2%,
        #ff0be5 94.81%);
  }
}

@media screen and (max-width: 769px) {

  .nav-group-btn div,
  .nav-group-btn div a {
    width: 100%;
  }

  .fs-20 {
    font-size: 16px;
  }

  .fs-70,
  .fs-60 {
    font-size: 50px;
  }

  .hero-section p {
    font-size: 18px;
  }

  .footer-div img {
    max-width: 100px;
  }
  
  .footer-justify{
justify-content: space-between!important;
/* gap: 100px;   */
}

}

@media screen and (max-width: 576px) {

  .fs-70,
  .fs-60 {
    font-size: 40px;
  }

  .fs-20 {
    font-size: 14px;
  }

  .card-responsive-perfect-fit svg {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 413px) {
  .card-responsive-perfect-fit {
    font-size: 15px !important;
  }
}

@media screen and (max-width: 390px) {
  .hero-btn {
    font-size: 18px !important;
  }

  .hero-section p,
  .fs-20 {
    font-size: 12px;
  }

  .fs-70,
  .fs-60 {
    font-size: 30px;
  }

  .card-responsive-perfect-fit {
    font-size: 12px !important;
  }
}